.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 $space-6;

  @include sm {
    padding: 0 $space-4;
  }

  &.noPadding {
    padding: 0;
  }

  &.maxWidth-sm   { max-width: 640px; }
  &.maxWidth-md   { max-width: 768px; }
  &.maxWidth-lg   { max-width: 1024px; }
  &.maxWidth-xl   { max-width: 1280px; }
  &.maxWidth-2xl  { max-width: 1536px; }
  &.maxWidth-full { max-width: 100%; }
}
